{% extends 'base.html' %}

{% block title %}
<p>This is my aboutus page</p>
{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum deleniti deserunt distinctio dolores. Amet animi distinctio ex facilis, necessitatibus odit optio porro qui quia quibusdam reiciendis reprehenderit tempora totam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa doloribus eos fuga, fugiat fugit ipsa ipsam laboriosam magni maiores molestiae nulla pariatur quibusdam quos unde velit veniam vero voluptate?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores at cumque dolor esse eveniet expedita, id ipsam iste, minus nesciunt nihil, non placeat qui quia quidem similique vitae voluptatibus!</p>
{% endblock %}